html{
    font-size:10px;
    font-family: 'Open Sans', sans-serif;
    height:100%;
    width:100%;
}

body{
    margin:0px 0px 0px 0px;
}

#top-nav-bar{
    /*background-color: gray;*/
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
    margin: 12px;
    padding: 0;
    overflow:hidden;
}

#top-right-nav{
    display:flex;
    margin: 0 0 auto;
}

#centered-top-right-nav{
    margin:7px 0 0 0;
}

li {
    float: left;
    display:inline;
}
li a {
    padding: 8px;
    text-decoration: none;
    color: #404040;
    font-size: 12px;
}
li a:hover{
    text-decoration: underline;
}

#sign-in-button{
    border:none;
    box-sizing: border-box;
    background-color: #4285F4;
    padding:7px 17px 7px 17px;
    color:white;
    font-size: 12px;
    border-radius: 2px;
}

#center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width:272px;
    padding:145px 0px 0px 0px;
}

#search-box{
    padding: 25px;
}

input[type="text"]{
    background-color: white;
    padding:10px;
}

#bottom-nav-bar{
    width:100%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
    bottom:-10px;
    position:fixed;
    padding: 10px;
    overflow:hidden;
}
